<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Hello World</h1>
      <% products.map((product) => {%>
      <h4>
        ชื่อ <a href="/products/<%product.id%>"><%=product.productTitle %></a>
      </h4>
      <li>ข้อมูล <%=product.productDesc %></li>
      <li>ราคา <%=product.productPrice %> บาท</li>
      <% }) %>
    </div>
  </body>
</html>
